body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */
header {
    height: 65px;
    width: 100%;
    background-color: rgba(46, 52, 64, 1);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 135px;
    margin-top: 5px;
}

.header-left {
    float: left;
}

.header-right a{
    float: right;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(59, 66, 82, 1);
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #D8DEE9;
    display: block;
}

.fa {
    margin-right: 5px;
}

.menu-icon {
    color: #D8DEE9;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    line-height: 65px;
    display: none;
}

/* END OF HEADER */
